.header-app {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #1677ff;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 999;
    .header-title {
        font-size: 20px;
        margin-left: 16px;
        font-weight: 600;
        color: #fff;
    }
}